@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --slate-gray: #484848;
  --light-gray: #DEDFE1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-slate-gray: var(--slate-gray);
  --color-light-gray: var(--light-gray);
  --font-volkhov: var(--font-volkhov), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl px-10;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-volkhov), Arial, Helvetica, sans-serif;
}
